*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    color: rgb(247, 231, 213);
    
}
h2{
    /* color: rgb(247, 231, 213); */
}
header{
    background-color: rgba(255, 0, 0, alpha );
    background: rgba(253, 93, 93, 0.2);
}
nav{
        width: 80%;
        /* background: black; */
        /* margin-left: auto;
        margin-right: auto;  or*/
        /* margin: 0 auto;  or*/
        margin-inline: auto;
        /* display: inline-block; */
}
a:link, 
a:visited{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #444;
    display: block;
}
a:hover{
    color: #FBB270;
}
a:link:last-child{
    padding-right: 0;
    
}
footer{
    background-color: rgba(255, 0, 0, alpha );
    background: rgba(253, 93, 93, 0.2);
}