/* body {
  background-color: antiquewhite;
} */
/* h1,
h2,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  color: rgb(158, 65, 65);
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-style: oblique;
  text-transform: uppercase;
}
h2 {
  color: blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #cf9595;
  background: rgba(99, 54, 54, 0.842); */
  /* border: 5px solid ;
  border-top: 5px solid;
  border-bottom: 5px solid;
}
p {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  text-align: justify;
}
a:link {
  color: rgb(114, 114, 218);
  text-decoration: none;
  font-size: 20px;
}
a:visited {
  color: rgb(182, 46, 46);
}
a:hover {
  color: rgb(184, 223, 224);
}
a:active {
  color: crimson;
}
li {
  list-style: none;
}
li:first-child {
  color: blueviolet;
}
li:last-child{
    color: darkred;
}
li:nth-child(3){
    color: #cf9595;
}
li:nth-child(odd){
    color: #cf9595;
}
li:nth-child(even){
    color: #050202;
}
.first-para{
    color: rgb(231, 84, 64);
}
#section--1{
    color: rgb(99, 10, 10);
}
img{
    width: 100%;
    height: auto;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

header{
    background: #FFE5CE;
}
a:link, 
a:visited{
    font-family: 'inter', sans-serif;
    text-decoration: none;
    color: #444;
    padding: 20px;
    display: inline-block;
}
a:hover{
    color: #FBB270;
}
a:link:last-child{
    padding-right: 0;
}
nav{
    width: 80%;
    /* background: black; */
    /* margin-left: auto;
    margin-right: auto;  or*/
    /* margin: 0 auto;  or*/
    margin-inline: auto;
}